<style>
  .job-preview {
    max-width: 95%;
    background-color: white;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
    margin: 20px auto;
    border-radius: 5px;
  }
  h5,
  h3,
  p,
  h2 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .subject p {
    font-size: 12px;
  }
  .content div {
    margin: 8px 0;
  }

  .content label {
    width: 190px;
    font-weight: 500;
    margin-left: 20px;
  }
  .job-preview-parent {
    background-image: url(../../assets/image/text-bg.png);
    background-size: cover;
    min-width: 100% !important;
    height: fit-content;
    padding: 20px 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.303);
  }
</style>

<!-- <div class="container-fluid register">
  <div class="row">
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="" />
    </div>
    <div class="col-8 login-main">
      <div class="row">
        <div class="col hero-col">
          <img src="../../assets/image/hero.png" alt="" class="hero-image" />
        </div>
      </div> -->

      <div class="job-preview-parent" style="margin: 20px 0; max-width: 100%">
        <div class="job-preview-logo" style="display: flex; justify-content: center; margin: 20px 0">
          <img src="../../assets/image/logo.png" width="150px" />
        </div>
        <h4 style="text-align: center">"New Mail For You"</h4>
        <p style="text-align: center; font-weight: 500">"Chennai"</p>

        <div class="job-preview">
          <div style="display: flex; padding: 15px; background: #e7e9ed; margin-top: 12px">
            <h5 style="margin-left: 20px">Subject :</h5>
            <h5 style="margin-left: 200px">UI UX Designer</h5>
          </div>

          <div class="subject" style="padding: 20px">
            <p>
              The sender of this email is registered with Treatjobs.com as
              <span style="font-weight: 700">EMPLOYER NAME</span>
            </p>
            <p style="font-size: 14px; margin: 10px 0">Dear Candidate name</p>
            <p style="margin-left: 30px">
              You are receiving this mail because the recruiter considers your profile to be suitable for the following job
              opportunity posted on Treatjobs.com, and would like you
              <span style="font-weight: 700">To Apply for the job.</span>
            </p>
          </div>

          <div style="padding: 20px 0 20px 40px; box-shadow: 0px 0px 2px #88888867, 0px -2px 2px #88888852">
            <div style="display: flex">
              <label style="width: 180px; font-weight: 500">Experience :</label>
              <p>1+ Years</p>
            </div>
            <div style="display: flex; margin: 10px 0">
              <label style="width: 180px; font-weight: 500">Salary :</label>
              <p>₹0 to 2Lacs</p>
            </div>
            <div style="display: flex">
              <label style="width: 180px; font-weight: 500">Job Location :</label>
              <p>Chenai</p>
            </div>
            <div style="display: flex; margin: 10px 0">
              <label style="width: 180px; font-weight: 500">Key Skills :</label>
              <p>Adobe XD,Figma,Illustrator</p>
            </div>
          </div>

          <div style="padding: 20px 20px 20px 40px; box-shadow: 0px 2px 2px #88888867, 0px -2px 2px #88888852">
            <div style="display: flex">
              <label style="min-width: 180px; font-weight: 500">Signature :</label>
              <p>
                Name : Aravind<br />
                Contact : 9898989898<br />
                Prior experience in at least one Relational database technologies experience in at least one Relational
                database technologies Priorin at least one Relational database technologies
              </p>
            </div>
          </div>

          <div style="padding-bottom: 10px">
            <div style="margin: 20px 40px; display: flex">
              <span style="font-size: 12px; font-weight: 500; min-width: fit-content">Disclaimer :</span>
              <p style="font-size: 12px; margin-left: 10px">
                The sender of this email is registered with Treatjobs.com as EMPLOYER NAME ( Employer mail id, Employer
                address) using Treatjobs.com services. The responsibility of checking the authenticity of
                offers/correspondence lies with you.
              </p>
            </div>
          </div>
        </div>

        <div class="apply-now-button" style="display: flex; justify-content: center">
          <button
            style="
              background-color: #0a2647;
              color: white;
              padding: 6px 20px;
              border-radius: 5px;
              border: none;
              margin-top: 10px;
            "
          >
            Apply Now
          </button>
        </div>

        <div class="social-links" style="width: 200px; margin: 50px auto; display: flex; justify-content: space-between">
          <img src="../../assets/image/twitter-icon.png" />
          <img src="../../assets/image/fb-icon.png" />
          <img src="../../assets/image/insta-icon.png" />
          <img src="../../assets/image/indeed-icon.png" />
        </div>
      </div>
    <!-- </div>
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="" />
    </div>
  </div>
</div> -->
