<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>d</title>
</head>

<body>
  <table class="verify-template" style="width: 650px; margin: auto; padding: 10px 0; margin-top: 150px">
    <tr>
      <td style="text-align: center" align-center><img
          src="https://streamingupload.s3.ap-south-1.amazonaws.com/Group+377.png" width="100px" style="margin: auto" />
      </td>
    </tr>
    <tr>
      <td style="text-align: center; font-weight: bold; height: 35px; font-size: 20px">
        “ Verify Your Email To Finish Signing Up In Treatjobs ”
      </td>
    </tr>
    <tr style="max-width: 250px">
      <td style="text-align: center; width: 250px; height: 50px">
        Please Confirm That <span style="font-weight: bold; text-decoration: underline">
          <%=email%>
        </span> Is Your
        <br />
        Email ID By Clicking This Button
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding: 15px 0">
        <a style="background-color: #0a2647; color: white; border: none; padding: 8px 40px; border-radius: 5px"
          href="https://job.lotsmart.in/otp/<%=ID%>">
          verify
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding: 10px 0">Thank You!</td>
    </tr>
    <tr>
      <td style="text-align: center; padding: 10px 0">
        <img src="https://streamingupload.s3.ap-south-1.amazonaws.com/Group+869.png" style="padding: 0 10px" />
        <img src="https://streamingupload.s3.ap-south-1.amazonaws.com/Group+870.png" style="padding: 0 10px" />
        <img src="https://streamingupload.s3.ap-south-1.amazonaws.com/Vector-1.png" style="padding: 0 10px" />
        <img src="https://streamingupload.s3.ap-south-1.amazonaws.com/Vector.png" style="padding: 0 10px" />
      </td>
    </tr>
  </table>
</body>

</html>